* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.option {
  width: fit-content;
  display: flex;
}

.childs {
  margin-left: 30px;
}

.app {
  margin-top: 15px;
  margin-left: 15px;
}

.option-name {
  font-size: 22px;
}

.badge {
  display: grid;
  place-content: center;
  margin-left: 5px;
  width: fit-content;
  height: fit-content;
  background-color: #ff295f;
  color: white;
  font-size: 13px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.arrow {
  margin-top: 4px;
  margin-right: 4px;
}
